*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
    color: #e0e0e0;
    background-color: #283739;

    display: flex;
    justify-content: center;
    align-items: center;

}

#root {
    width: 100%;
}

img {
    max-width: 100%;
}



@media screen and (min-width: 840px) {

    #root {
        width: 80%;

    }

}

@media screen and (min-width: 1140px) {

    #root {
        width: 60%;

    }

}