*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
    color: #e0e0e0;
    background-color: #283739;
}

#root {}

img {
    max-width: 100%;
}